<ion-header>
  <ion-toolbar>
    <ion-title class="logo-image">
      <img src="/assets/marvel-icono.png"/>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="main-container">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of items; let i = index">
        <div>
          <ion-card class="card-container">
            <img [src]="item.thumbnail.path" alt=""/>
            <ion-card-header class="comic-header">
              <ion-card-subtitle class="comic-date">{{item.modified }}</ion-card-subtitle>
              <ion-card-title class="comic-title">{{item.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="comic-card-content">
              <ion-icon class="like-icon" name="happy" (click)="countLikes()"></ion-icon><span class="text">{{ likes }}</span>
              <ion-icon class="dislike-icon" name="sad" (click)="countDislikes()"></ion-icon><span class="text">{{ dislikes }}</span>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

